google-genai 
agno
duckduckgo-search 
yfinance 
lancedb 
tantivy 
pypdf
pylance
pydantic
wikipedia
groq 
mcp
exa_py
fastapi
PyGithub
newspaper4k
lxml_html_clean
tweepy
youtube_transcript_api
cartesia
pandas
DuckDb
mcp
arxiv
replicate